.grid td {
  background-image: url('assets/sprites.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

table.grid {
    border-spacing: 0;
}

table.grid td {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    border: 0;
    border-spacing: 0;
    padding: 0;
}

td.tileForest {background-position: 0px 0px;}
td.tileGrass {background-position: -16px 0px;}
td.tileMountain {background-position: -32px 0px;}
td.tileSwamp {background-position: -48px 0px;}
td.tileWater {background-position: -64px 0px;}
td.tileWater2 {background-position: -80px 0px;}
td.tileEmpty {background-position: -96px 0px;}
td.tileCastle {background-position: -112px 0px;}
td.tileVillage {background-position: 0px -16px;}
td.tileTower {background-position: -16px -16px;}
td.tileDungeon {background-position: -32px -16px;}
td.tileMoongate {background-position: -48px -16px;}
td.tileTown {background-position: -64px -16px;}
td.tileShield {background-position: -80px -16px;}
td.tileSword {background-position: -96px -16px;}
td.tileSign {background-position: -112px -16px;}
td.tileFire {background-position: 0px -32px;}
td.tileBalroc {background-position: -16px -32px;}
td.tileCleric {background-position: -32px -32px;}
td.tileDaemon {background-position: -48px -32px;}
td.tileDevil {background-position: -64px -32px;}
td.tileFighter {background-position: -80px -32px;}
td.tileGuard {background-position: -96px -32px;}
td.tileJester {background-position: -112px -32px;}
td.tileKing {background-position: 0px -48px;}
td.tileMerchant {background-position: -16px -48px;}
td.tileOrc {background-position: -32px -48px;}
td.tileThief {background-position: -48px -48px;}
td.tileWizard {background-position: -64px -48px;}
td.tileHorse {background-position: -80px -48px;}
td.tileShip {background-position: -96px -48px;}
td.tileAirplane {background-position: -112px -48px;}
td.tileRocket {background-position: 0px -64px;}
td.tileBlock {background-position: -16px -64px;}
td.tileBricks {background-position: -32px -64px;}
td.tileBlockMiddle {background-position: -48px -64px;}
td.tileBlockA {background-position: -64px -64px;}
td.tileBlockB {background-position: -80px -64px;}
td.tileBlockC {background-position: -96px -64px;}
td.tileBlockD {background-position: -112px -64px;}
td.tileBlockE {background-position: 0px -80px;}
td.tileBlockF {background-position: -16px -80px;}
td.tileBlockG {background-position: -32px -80px;}
td.tileBlockH {background-position: -48px -80px;}
td.tileBlockI {background-position: -64px -80px;}
td.tileBlockJ {background-position: -80px -80px;}
td.tileBlockK {background-position: -96px -80px;}
td.tileBlockL {background-position: -112px -80px;}
td.tileBlockM {background-position: 0px -96px;}
td.tileBlockN {background-position: -16px -96px;}
td.tileBlockO {background-position: -32px -96px;}
td.tileBlockP {background-position: -48px -96px;}
td.tileBlockR {background-position: -64px -96px;}
td.tileBlockS {background-position: -80px -96px;}
td.tileBlockT {background-position: -96px -96px;}
td.tileBlockU {background-position: -112px -96px;}
td.tileBlockV {background-position: 0px -112px;}
td.tileBlockW {background-position: -16px -112px;}
td.tileBlockX {background-position: -32px -112px;}
td.tileBlockY {background-position: -48px -112px;}
td.tileBlockZ {background-position: -64px -112px;}
td.tileBlockLeft {background-position: -80px -112px;}
td.tileBlockRight {background-position: -96px -112px;}
